{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}

<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8 mx-auto offset-lg-1">
      <div class="steppers-content" aria-live="polite">
        <div class="it-page-sections-container">
          <section class="it-page-section" id="applicant">
            <div class="cmp-card">
              <div class="card has-bkg-grey shadow-sm p-big">
                <div class="card-header border-0 p-0 mb-lg-30 m-0">
                  <div class="d-flex">
                    <h1 class="title-xxlarge mb-3">Registrati</h1>
                  </div>




                </div>
                <div class="card-body p-0">
                  <div class="form-wrapper bg-white p-4">

                    <div class="form-group cmp-input mb-0">
                      <!-- <input type="text" class="form-control" id="name" name="name" required=""> -->
                      {{ form_row(registrationForm.nickname, {
                        label: 'Nome o nickname'
                      }) }} {# Campo nickname obbligatorio #}
                      <button type="button" class="clean-input" aria-label="Elimina testo di ricerca" data-focus-mouse="false">
                        <svg class="icon">
                          <use xlink:href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-close')}}"></use>
                        </svg>
                      </button>

                      <div class="d-flex">
                        <span class="form-text cmp-input__text">
                          Inserisci il
                          tuo nome o il tuo nickname</span>
                        </div>
                      </div>


                      <div class="form-group cmp-input mb-0">
                        {{ form_row(registrationForm.email) }}
                        <!-- <input type="email" class="form-control" id="email" name="email" required=""> -->
                        <div class="d-flex">
                          <span class="form-text cmp-input__text">
                            Inserisci
                            la tua email</span>
                          </div>
                        </div>

                        <div class="form-group cmp-input mb-0">
                          {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                          }) }}
                          <span class="password-icon" aria-hidden="true">
        <svg class="password-icon-visible icon icon-sm"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-password-visible')}}"></use></svg>
        <svg class="password-icon-invisible icon icon-sm d-none"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-password-invisible')}}"></use></svg>
      </span>
                          <!-- <input type="email" class="form-control" id="email" name="email" required=""> -->
                          <div class="d-flex">
                            <span class="form-text cmp-input__text">
                              Inserisci
                              la tua Password</span>
                            </div>
                          </div>

                          <div class="form-group cmp-input mb-0">
                            <!-- <input type="text" class="form-control" id="surname" name="surname" required=""> -->
                            {{ form_row(registrationForm.description, {
                              label: 'Descrizione'
                            }) }}

                            <div class="d-flex">
                              <span class="form-text cmp-input__text">
                                Inserisci la tua descrizione, sarà in base a questa che gli utenti potranno proporti degli scambi</span>
                              </div>
                            </div>

                            <div class="form-group cmp-input mb-0">
                              <div class="select-wrapper">
                                {{ form_row(registrationForm.cittaRel, {
                                    label: 'Città di riferimento per i tuoi scambi',
                                    attr: {'class': 'custom-select'}
                                }) }}
                                <!-- <label for="defaultSelect">Città di riferimento</label> -->

                              </div>
                              <div class="d-flex">
                                <span class="form-text cmp-input__text">
                                  Seleziona la città di riferimento per i tuoi scambi</span>
                                </div>
                            </div>




                            <div class="form-group cmp-input mb-0">


                                <div class="select-wrapper">

                                  {{ form_row(registrationForm.competenzeBisRel, {
                                      label: 'Conoscenze',
                                      attr: {'class': 'custom-select'}
                                  }) }}


                                    <div class="d-flex">
                                      <span class="form-text cmp-input__text">
                                        Seleziona da una a 4 competenze.  </span>
                                      </div>
                                </div>
                            </div>

                            <div class="form-group cmp-input mb-0">
                                <div class="custom-file">
                                    {{ form_widget(registrationForm.avatar, {
                                        'attr': {
                                            'class': 'custom-file-input',
                                            'id': 'avatar'
                                        }
                                    }) }}
                                </div>
                                <div class="d-flex">
                                  <span class="form-text cmp-input__text">
                                    Scegli il tuo avatar</span>
                                  </div>
                                <div class="invalid-feedback">{{ form_errors(registrationForm.avatar) }}</div>
                            </div>

                            <div class="form-group cmp-input mb-0">
                                <div class="custom-file">
                                    {{ form_widget(registrationForm.conoscenzeImages,
                                      {
                                          label: 'Carica immagini delle tue competenze (max 6)',
                                            attr: {'class': 'custom-file-input'}
                                      }
                                      ) }}
                                </div>
                                <div class="form-text cmp-input__text">Carica immagini che dimostrano le tue competenze (max 6).</div>
                            </div>





                            <div class="form-group cmp-input mb-0">
                              <div class="form-check">
                                <input
                                type="checkbox"
                                id="invalidCheck"
                                name="{{ field_name(registrationForm.agreeTerms) }}"
                                required="required"
                                value=""
                                class="form-check-input"
                                data-focus-mouse="false">
                                <label for="invalidCheck" class="required active form-check-label" >Accetto i termini e le condizioni</label>



                              </div>
                            </div>

                            <button class="btn btn-primary" type="submit" data-focus-mouse="false">Invia</button>


                          </div>

                        </div>
                      </div>
                    </div>
                  </section>



                </div>
              </div>
            </div>
          </div>
        </div>


        {{ form_end(registrationForm) }}




        {% endblock %}

        ----------------------------

        questo funziona!!
        
        {% extends 'base.html.twig' %}

        {% block title %}Register{% endblock %}

        {% block body %}
            <h1>Registrati</h1>

            {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm) }}

            {{ form_row(registrationForm.nickname, { 'label': 'Nickname' }) }}
            {{ form_row(registrationForm.email, { 'label': 'Email' }) }}
            {{ form_row(registrationForm.plainPassword, { 'label': 'Password' }) }}
            {{ form_row(registrationForm.description, { 'label': 'Descrizione' }) }}
            {{ form_widget(registrationForm.conoscenzeImages,
              {
                  label: 'Carica immagini delle tue competenze (max 6)',
                    attr: {'class': 'custom-file-input'}
              }
              ) }}

            <button type="submit">Registrati</button>

            {{ form_end(registrationForm) }}
        {% endblock %}
