{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.description) }}
         {{ form_row(registrationForm.avatar) }}  
        {{ form_row(registrationForm.competenzeBisRel) }} {# Campo per la selezione delle competenze #}

        {{ form_row(registrationForm.nickname, {
          label: 'Nickname'
      }) }} {# Campo nickname obbligatorio #}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
