{% extends 'base.html.twig' %}

{% block title %}CompetenzeBis{% endblock %}

{% block body %}

<div class="container" id="main-container">
  <div class="row">
    <div class="col px-lg-4">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb p-0" data-element="breadcrumb">

            <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Home</a><span class="separator">/</span></li>
            <li class="breadcrumb-item"><a href="{{ path('app_competenze_bis_index') }}">Conoscenze</a><span class="separator">/</span></li>
            <li class="breadcrumb-item active" aria-current="page">{{ competenze_bi.Titolo }}</li>
          </ol>
        </nav>
      </div>      </div>
  </div>
  <div class="row">
    <div class="col-lg-8 px-lg-4 py-lg-2">
      <h1 data-audio="">{{ competenze_bi.Titolo }}</h1>
      <h2 class="h4 py-2" data-audio="">Il sottotitilo della competenza</h2>
      <p data-audio="">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      {% if is_granted('ROLE_ADMIN') %}
      <div class="mt-3">
        <a href="{{ path('app_competenze_bis_edit', {'id': competenze_bi.id}) }}" class="">Modifica</a>
      </div>
      {% endif %}

    </div>


    {% if competenze_bi.categorieRelation is not empty and competenze_bi.categorieRelation|length > 0 %}

    <div class="col-lg-3 offset-lg-1">
      <div class="mt-4 mb-4">
        <h6 class="text-secondary">Argomenti</h6>



        <ul class="d-flex flex-wrap gap-1 mt-2">


          {% for competenza in competenze_bi.categorieRelation %}
            <li>
              <a class="chip chip-simple" href="{{ path('app_categorie_show', {'id': competenza.id}) }}">
                  <span class="chip-label">{{ competenza.nome }}</span>
              </a>
            </li>
          {% endfor %}


        </ul>
      </div>
    </div>

    {% endif %}

  </div>
</div>

<div class="container-fluid my-3 d-none">
  <div class="row ">
    <figure class="figure px-0 img-full ">
      <img src="https://picsum.photos/800/400" class="figure-img img-fluid" alt="Un'immagine generica segnaposto con angoli arrotondati in una figura.">
      <figcaption class="figure-caption text-center pt-3">Una didascalia per l'immagine sopra.</figcaption>
    </figure>
  </div>
</div>

<div class="container">
  <div class="row border-top border-light row-column-border row-column-menu-left">
    <aside class="col-lg-4">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        Indice della pagina
                        <svg class="icon icon-xs right">

                          <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-expand') }}"></use>
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          <li class="nav-item">
                            <a class="nav-link active" href="#cos-e">
                              <span class="title-medium">Cos'è</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#contatti">
                              <span class="title-medium">Community</span>
                            </a>
                          </li>


                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>      </aside>
    <section class="col-lg-8 it-page-sections-container border-light">
      <article id="cos-e" class="it-page-section mb-5" data-audio="">
        <h2 class="mb-3">Cos'è?</h2>
        <p class="">
          {{ competenze_bi.Descrizione }}
        </p>




      </article>


      <article id="contatti" class="it-page-section mb-5">
        <h2 class="mb-3">Community</h2>

        {% for user in competenze_bi.userRelation %}

        <div class="mb-4">

          <div class="card card-teaser shadow rounded">
            <svg class="icon" aria-hidden="true">

              <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-user') }}"></use>
            </svg>

            <div class="card-body">
              <h3 class="card-title h5">
                <a href="{{ path('app_user_profile', {'id': user.id}) }}" class="text-decoration-none">
                  {{ user.nickname }}
                </a>
              </h3>

              <div class="card-text">
              {% if user.scambiConclusi > 0 %}
                  <p>Scambi conclusi:  {{ user.scambiConclusi }} </p>
              {% else %}
                  Ancora nessuno scambio concluso
              {% endif %}
                <p class="mt-3"></p>
                <p><a aria-label="invia un'email a {{ user.email }}< - apertura casella postale" title="invia un'email a {{ user.email }}< - apertura casella postale" href="mailto:{{ user.email }}">{{ user.email }}</a></p>





                   {% if app.user is not null %}
                     {% if app.user.id != user.id %}
                         <a  href="{{ path('app_scambi_new', { 'userTarget' : user } )}}"
                            class="mt-3 btn btn-primary btn-xs"
                            data-focus-mouse="false">Proponi scambio</a>
                     {% endif %}
                   {% else %}
                       <button class="mt-3 btn btn-secondary btn-xs" disabled>
                         Proponi scambio
                       </button>
                       <p class="title-xsmall-semi-bold text-secondary">È necessario <a href="{{ path('app_register') }}">registrarsi</a> o <a href="{{ path('app_login') }}">accedere al sito</a> per proporre scambi</p>
                 {% endif %}




              </div>

            </div>

          </div>

        </div>
  {% endfor %}

      </article>



      <article id="ultimo-aggiornamento" class="it-page-section mt-5">
        <h4 class="h6">Creato il: <span class="h6 fw-normal">{{ competenze_bi.CreateAt ? competenze_bi.CreateAt|date('d/m/Y H:i') : '' }}</span></h4>
      </article>
    </section>
  </div>
</div>


<div class="bg-grey-card shadow-contacts">
  <div class="container">
    <div class="row d-flex justify-content-center p-contacts">
      <div class="col-12 col-lg-6">
        <div class="cmp-contacts">
          <div class="card w-100">
            <div class="card-body">
              <h2 class="title-medium-2-semi-bold">Qualche dubbio?</h2>
              <ul class="contact-list p-0">
                <li><a class="list-item" href="#">
                    <svg class="icon icon-primary icon-sm" aria-hidden="true">

                      <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-help-circle') }}"></use>
                    </svg><span>Leggi le domande frequenti</span></a></li>

                <li><a class="list-item" href="#" data-element="contacts">
                    <svg class="icon icon-primary icon-sm" aria-hidden="true">

                      <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-mail') }}"></use>
                    </svg><span>Richiedi assistenza</span></a></li>


              </ul>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







































    <h1>CompetenzeBis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competenze_bi.id }}</td>
            </tr>
            <tr>
                <th>Titolo</th>
                <td>{{ competenze_bi.Titolo }}</td>
            </tr>
            <tr>
                <th>Descrizione</th>
                <td>{{ competenze_bi.Descrizione }}</td>
            </tr>
            <tr>
                <th>StatusActive</th>
                <td>{{ competenze_bi.StatusActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ competenze_bi.CreateAt ? competenze_bi.CreateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_competenze_bis_index') }}">back to list</a>

    <a href="{{ path('app_competenze_bis_edit', {'id': competenze_bi.id}) }}">edit</a>

    {{ include('competenze_bis/_delete_form.html.twig') }}
{% endblock %}
