{% extends 'base.html.twig' %}

{% block title %}Scambi{% endblock %}

{% block body %}
    <h1>Scambi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scambi.id }}</td>
            </tr>

            <tr>
                <th>Creato il</th>
                <td>{{ scambi.createdAt ? scambi.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ scambi.statusString }}</td>
            </tr>
            <tr>
                <th>Da id utente</th>
                <td>{{ scambi.fromUser }}</td>
            </tr>
            <tr>
                <th>Destinatario scambio</th>

              {% for usero in scambi.userTarget %}
                              <td>{{ usero }}</td>
              {% endfor %}


            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_scambi_index') }}">back to list</a>

    <a href="{{ path('app_scambi_edit', {'id': scambi.id}) }}">edit</a>

    {{ include('scambi/_delete_form.html.twig') }}
{% endblock %}
