{#  {{ form_start(form) }} #}
{#     {{ form_widget(form) }}  #}
{#  {{ form_end(form) }}  #}


{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.nickname) }}
    {{ form_row(form.description) }}
    {{ form_row(form.CompetenzeBisRel) }}
    {{ form_row(form.cittaRel) }}
    {{ form_row(form.avatar) }}
    {{ form_widget(form.conoscenzeImages,
      {
          label: 'Carica immagini delle tue competenze (max 6)',
            attr: {'class': 'custom-file-input'}
      }
      ) }}
    <button class="btn">{{ button_label|default('Salva') }}</button>

{{ form_end(form) }}

<!-- Visualizza i campi non gestiti -->
<div>
    <p>Scambi Conclusi: {{ user.scambiConclusi }}</p>
    <p>Competenze Bis Rel:
        {% for competenza in user.CompetenzeBisRel %}
            {{ competenza.titolo }}
        {% endfor %}
    </p>
</div>
