{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}



    <section class="section" aria-describedby="principi" id="principi">
      <div class="section-content">
      <div class="container">


        <div class=" text-center align-items-center">
          <div class="container-fluid">
            <div class="row mb-5">
              <div class="col-7 mx-auto">
                <h1 class="title-xxlarge mb-4 mb-lg-10 primary-color">Conosci la BaCo Community</span></h1>
                <p class="lead">Orientati nel cuore della comunità: personalizza la tua esperienza filtrando e cercando il membro di BaCo che fa per te</p>
                </div>
            </div>

<div class="row">



  <div class="row">
   <div class="col-md-4">
          <form class="form-inline mb-3" method="GET" action="{{ path('app_user_index') }}">
              <div class="col-auto d-flex align-items-center">
                  <div class="">
                      <select name="competenze" id="competenze" class="form-control">
                          <option value="">Tutte le competenze</option>
                          {% for competenze in competenze_bis %}
                              <option value="{{ competenze.id }}" {{ app.request.query.get('competenze') == competenze.id ? 'selected' : '' }}>{{ competenze.Titolo }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="">
                      <button type="submit" class="btn btn-primary">Filtra </button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-md-4">
          <form class="form-inline mb-3" method="GET" action="{{ path('app_user_index') }}">
              <div class="col-auto d-flex align-items-center">
                  <div class="">
                      <select name="categoria" id="categoria" class="form-control">
                          <option value="">Tutte le categorie</option>
                          {% for categoria in categories %}
                              <option value="{{ categoria.id }}" {{ app.request.query.get('categoria') == categoria.id ? 'selected' : '' }}>{{ categoria.nome }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="">
                      <button type="submit" class="btn btn-primary">Filtra</button>
                  </div>
              </div>
          </form>
      </div>

      <div class="col-md-4">
          <form class="form-inline mb-3" method="GET" action="{{ path('app_user_index') }}">
              <div class="col-auto d-flex align-items-center">
                  <div class="  ">

                      <select name="city" id="city" class="form-control">
                          <option value="">Tutte le città</option>
                          {% for city in cities %}
                              <option value="{{ city.id }}" {{ app.request.query.get('city') == city.id ? 'selected' : '' }}>{{ city.nome }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="">
                      <button type="submit" class="btn btn-primary">Filtra</button>
                  </div>
              </div>
          </form>
      </div>

      <!-- Altri filtri simili per ricerca o altro -->
  </div>




</div>
</div>
</div>
</div>
</div>
</section>

<section class="section bg-primary" aria-describedby="" id="">
  <div class="section-content">
    <div class="container">


<div class="row">
  {% for user in users %}
    <div class="col-md-4 col-mb-3 mb-4">
      <div class="card card-bg card-big rounded shadow h-100 d-flex flex-column border-bottom-card">
        <div class="card-body">

                      <div class="">

                        <div class="categoryicon-top">
                          <svg class="icon avatar size-lg ">
                            <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-user ') }}"></use>
                          </svg>
                          <span class="">  <a href="{{ path('app_user_profile', {'id': user.id}) }}">
                              <h5 class="card-title">{{ user.nickname }}</h5></a></span>
                        </div>


                          {#   {% if user.avatar %}
                                {% set avatarPath = asset('uploads/avatar/' ~ user.avatar) %}

                                <div class="avatar size-xxl">
                                  <a href="{{ path('app_user_profile', {'id': user.id}) }}">
                                  <img alt="avatar image {{ user.nickname }}" src="{{ avatarPath }}">
                                  </a>
                                </div>
                            {% endif %}
                             #}



                      {#  <div class="card-profile">
                          <a href="{{ path('app_user_profile', {'id': user.id}) }}">
                            <h5 class="card-title">{{ user.nickname }}</h5></a>
                            {% if app.user %}
                            <span class="font-xs color-text-mutted">{{ user.email }}</span>
                            {% endif %}

                        </div>#}
                      </div>

                      <div class="">
                        <p class="card-text">{{ user.description | slice(0, 100) | length < 100 ? user.description : user.description | slice(0, 100) ~ '...' }}</p>
                        <div class="card-2-bottom card-2-bottom-candidate mt-30">





                        </div>



                        <div class="align-items-center justify-content-center mt-3 ">
                          <div class="row">
                              {% if user.cittaRel %}
                            <div class="col-12">
                              <p class="card-text">
                                 <svg class="icon icon-xs mr-10"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-map-marker') }}"></use></svg>
                              {{ user.cittaRel}}</p>

                          </div>
                            {% endif %}
                            {% if user.scambiConclusi %}
                              <div class="col-12">
                                <p class="card-text">
                                   <svg class="icon icon-xs mr-10"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-check-circle') }}"></use></svg>
                                   Scambi conclusi: {{ user.scambiConclusi }}</p>
                              </div>
                                {% endif %}


                                  <div class="col-12">
                                    <p class="card-text">
                                       <svg class="icon icon-xs mr-10"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-pin') }}"></use></svg>

                                       {% for competenza in user.CompetenzeBisRel %}
                                           <span class="" href="{{ path('app_competenze_bis_show', {'id': competenza.id}) }}" data-focus-mouse="false">
                                         {{ competenza.titolo }}{% if not loop.last %}, {% endif %}
                                         </span>

                                       {% endfor %}

                                     </p>
                                  </div>
                          </div>
                        </div>



                      </div>
                      <a class="read-more" href="{{ path('app_user_profile', {'id': user.id}) }}">
                        <span class="text">Guarda il profilo</span>
                        <svg class="icon">
                          <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-arrow-right') }} "></use>
                        </svg>
                      </a>

                    </div>
                  </div>
                  </div>

                  {% else %}
                      <p class="col-md-12">Nessun record trovato.</p>
                  {% endfor %}

</div>
</div>
</div>

</section>







{#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nickname</th>
                <th>Description</th>
                <th>CreateAt</th>
                <th>CittaRel</th>
                <th>Competenze</th>
                <th>Avatar</th>
                <th>ScambiConclusi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.createAt ? user.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.cittaRel}}</td>
                <td>  {% for competenza in user.CompetenzeBisRel %}
                      {{ competenza.titolo }}
                  {% endfor %}</td>

                <td>{{ user.avatar }}</td>
                <td>{{ user.scambiConclusi }}</td>
                <td>
                    <a href="{{ path('app_user_profile', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>

    #}
{% endblock %}
