{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>BaCo Community</h1>

<div class="row">
  {% for user in users %}
    <div class="col-md-4 mb-4">
      <div class="card card-bg card-big rounded shadow">
        <div class="card-body">

                      <div class="card-grid-2-image-left">



                            {% if user.avatar %}
                                {% set avatarPath = asset('uploads/avatar/' ~ user.avatar) %}

                                <div class="avatar size-xxl">
                                  <a href="{{ path('app_user_profile', {'id': user.id}) }}">
                                  <img alt="avatar image {{ user.nickname }}" src="{{ avatarPath }}">
                                  </a>
                                </div>
                            {% endif %}



                        <div class="card-profile pt-10">
                          <a href="{{ path('app_user_profile', {'id': user.id}) }}">
                            <h5 class="card-title">{{ user.nickname }}</h5></a>
                            {% if app.user %}
                            <span class="font-xs color-text-mutted">{{ user.email }}</span>
                            {% endif %}
                          <div class="rate-reviews-small pt-5">
                              <svg class="icon icon-sm"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-check-circle') }}"></use></svg><span class="ml-10 color-text-mutted font-xs">Scambi conclusi: {{ user.scambiConclusi }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="card-block-info">
                        <p class="card-text">{{ user.description | slice(0, 100) | length < 100 ? user.description : user.description | slice(0, 100) ~ '...' }}</p>
                        <div class="card-2-bottom card-2-bottom-candidate mt-30">


                        <ul class="d-flex flex-wrap gap-1 mt-2">
                          {% for competenza in user.CompetenzeBisRel %}
                          <li>
                            <a class="chip chip-simple" href="{{ path('app_competenze_bis_show', {'id': competenza.id}) }}" data-focus-mouse="false">
                              <span class="chip-label">{{ competenza.titolo }}</span>
                            </a>
                          </li>
                          {% endfor %}

                      </ul>


                        </div>


                        {% if user.cittaRel %}
                        <div class="align-items-center justify-content-center mt-15">
                          <div class="row">
                            <div class="col-12">
                                <svg class="icon icon-sm"><use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-map-marker') }}"></use></svg>{{ user.cittaRel}}
                          </div>
                          </div>
                        </div>
                        {% endif %}

                      </div>
                      <a class="read-more" href="{{ path('app_user_profile', {'id': user.id}) }}">
                        <span class="text">Guarda il profilo</span>
                        <svg class="icon">
                          <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-arrow-right') }} "></use>
                        </svg>
                      </a>

                    </div>
                  </div>
                  </div>

        {% endfor %}

</div>








    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nickname</th>
                <th>Description</th>
                <th>CreateAt</th>
                <th>CittaRel</th>
                <th>Competenze</th>
                <th>Avatar</th>
                <th>ScambiConclusi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.createAt ? user.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.cittaRel}}</td>
                <td>  {% for competenza in user.CompetenzeBisRel %}
                      {{ competenza.titolo }}
                  {% endfor %}</td>

                <td>{{ user.avatar }}</td>
                <td>{{ user.scambiConclusi }}</td>
                <td>
                    <a href="{{ path('app_user_profile', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
