{# templates/user/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profilo utente - {{ user.nickname }}{% endblock %}


{% block body %}

<div class="container" id="main-container">
  <div class="row">
    <div class="col px-lg-4">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb p-0" data-element="breadcrumb">

            <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Home</a><span class="separator">/</span></li>
            <li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">Community</a><span class="separator">/</span></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.nickname }}</li>
          </ol>
        </nav>
      </div>      </div>
  </div>
  <div class="row">

  {% if user.getAvatarUrl() %}
    <div class="col-lg-1 px-lg-4 py-lg-2">
      <img src="{{ asset('uploads/avatar/' ~ user.avatar) }}" class="avatar" alt="Avatar">
    </div>
  {% endif %}


    <div class="col-lg-8 px-lg-4 py-lg-2">
      <h1 data-audio="">{{ user.nickname }}</h1>
      <h2 class="h4 py-2" data-audio="">Bio breve</h2>
      <p data-audio="">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      {% if app.user and app.user.id == user.id %}
      <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifica profilo</a>
      {% endif %}

{#
    {% if app.user is not null %}
      {% if app.user.id != user.id %}
          <a  href="{{ path('app_scambi_new', { 'userTarget' : user } )}}"
              class="mt-3 btn btn-primary btn-xs"
              data-focus-mouse="false">Proponi scambio</a>
      {% endif %}
    {% else %}
        <button class="mt-3 btn btn-secondary btn-xs" disabled>
          Proponi scambio
        </button>
        <p class="title-xsmall-semi-bold text-secondary">È necessario <a href="{{ path('app_register') }}">registrarsi</a> o <a href="{{ path('app_login') }}">accedere al sito</a> per proporre scambi</p>
  {% endif %}
  #}

    </div>
    <div class="col-lg-2 offset-lg-1">
      <div class="mt-4 mb-4">
        <h6 class="text-secondary">Scambi conclusi</h6>
        {% if user.scambiConclusi > 0 %}
            <a class="chip chip-simple" href="#">
                <span class="chip-label">  {{ user.scambiConclusi }} scambi</span>
            </a>
        {% else %}
            Ancora nessuno
        {% endif %}



      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-3 d-none">
  <div class="row ">
    <figure class="figure px-0 img-full ">
      <img src="https://picsum.photos/800/400" class="figure-img img-fluid" alt="Un'immagine generica segnaposto con angoli arrotondati in una figura.">
      <figcaption class="figure-caption text-center pt-3">Una didascalia per l'immagine sopra.</figcaption>
    </figure>
  </div>
</div>

<div class="container">
  <div class="row border-top border-light row-column-border row-column-menu-left">
    <aside class="col-lg-4">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll="">
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        INDICE DELLA PAGINA
                        <svg class="icon icon-xs right">

                          <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-expand') }}"></use>
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          <li class="nav-item">
                            <a class="nav-link active" href="#cos-e">
                              <span class="title-medium">Chi sono</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#conoscenze">
                              <span class="title-medium">Conoscenze</span>
                            </a>
                          </li>

                          {# Mostra le proposte di scambio inviate solo all'utente autenticato #}
                          {% if app.user and app.user.id == user.id %}

                          <li class="nav-item">
                            <a class="nav-link" href="#avviati">
                              <span class="title-medium">Scambi avviati</span>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#ricevute">
                              <span class="title-medium">Proposte di scambio ricevute</span>
                            </a>
                          </li>
                          {% endif %}
                          <li class="nav-item">
                            <a class="nav-link" href="#gallery">
                              <span class="title-medium">Gallery</span>
                            </a>
                          </li>


                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>      </aside>
    <section class="col-lg-8 it-page-sections-container border-light">
      <article id="cos-e" class="it-page-section mb-5" data-audio="">
        <h2 class="mb-3">Chi sono</h2>

        {% if user.description is defined %}
          <p> {{ user.description }}</p>
      {% endif %}





      </article>


      {% if user.CompetenzeBisRel is not empty %}
      <article id="conoscenze" class="it-page-section mb-5">
        <h2 class="mb-3">Conoscenze</h2>

        {% for competenza in user.CompetenzeBisRel %}



            <div class="mb-4">

              <div class="card card-teaser shadow rounded ">
                <svg class="icon d-none" aria-hidden="true">

                  <use href="{{ asset('css/bootstrap-italia/svg/sprites.svg#it-check-circle') }}"></use>
                </svg>

                <div class="card-body">
                  <h3 class="card-title h5 mb-0">
                    <a href="{{ path('app_competenze_bis_show', {'id': competenza.id}) }}" class="text-decoration-none">
                      {{ competenza }}
                    </a>
                  </h3>

                  {% if app.user is not null %}
                    {% if app.user.id != user.id %}
                        <a  href="{{ path('app_scambi_new', { 'userTarget': user.nickname, 'competenza': competenza.id } )}}"
                            class="mt-3 btn btn-primary btn-xs"
                            data-focus-mouse="false">Proponi scambio</a>
                    {% endif %}
                  {% endif %}





                </div>

              </div>

            </div>


        {% endfor %}



      </article>
      {% endif  %}

{% if user.userConoscenzeImages is not empty %}
      <article  class="it-page-section mb-5" id="gallery">
        <h2 class="mb-3">Gallery</h2>

        <div class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols it-full-carousel it-standard-image splide" data-bs-carousel-splide>
          <div class="splide__track">
            <ul class="splide__list">
              {% for conoscenzaImage in user.userConoscenzeImages %}
                <li class="splide__slide">
                  <div class="it-single-slide-wrapper">
                    <div class="card-wrapper">
                      <div class="card card-img no-after">
                        <div class="img-responsive-wrapper">
                          <div class="img-responsive">
                            <div class="img-wrapper">
                              <img src="{{ asset('uploads/conoscenze/' ~ conoscenzaImage.imageName) }}" title="{{conoscenzaImage.imageName}}" alt="{{conoscenzaImage.imageName}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </article>
      {% endif %}




        {# Mostra le proposte di scambio inviate solo all'utente autenticato #}
        {% if app.user and app.user.id == user.id %}

        {% if proposteInviate is defined %}
        <article id="avviati" class="it-page-section mb-5">

        <h2>Scambio avviati</h2>

                {% for proposta in proposteInviate|reverse %}


                        <div class="mb-4">

                          <div class="card card-teaser shadow rounded">


                            <div class="card-body">
                              <h3 class="card-title h5">Proposta {{ proposta.id }} del {{ proposta.createdAt ? proposta.createdAt|date('d/m/Y H:i') }}  all''utente
                              {% for user in proposta.userTarget %}
                                  <a href="{{ path('app_user_profile', {'id': user.id}) }}" class="text-decoration-none">
                                    {{ user.nickname }}
                                  </a>
                              {% endfor %}

                              {% if proposta.userTargetCompetenzaRel %}
                                  per la sua conoscenza: {{ proposta.userTargetCompetenzaRel.Titolo }}
                               {% endif %}
                              </h3>

                              {% if proposta.userSenderCompetenzaRel %}
                               <p>Competenza richiesta in scambio: {{ proposta.userSenderCompetenzaRel.Titolo }}</p>
                           {% endif %}

                              <div class="card-text">
                              <p>Status scambio:   {{ proposta.statusString }} </p>



                              {% if proposta.statusString == 'Iniziato' and proposta.scambioConfermato is null %}
                              <i>  In attesa di che {% for user in proposta.userTarget %}  {{ user.nickname }}  {% endfor %} accetti la tua proposta</i>
                              {% elseif proposta.statusString == 'In attesa' %}
                              <form method="post"  action="{{ path('app_scambi_confirm', {'id': proposta.id}) }}" id="conferma-{{proposta.id}}">
                                  <input type="hidden" name="confirmTargetId" value="{{ proposta.id }}">
                                  <button type="submit" class="btn btn-success btn-xs mt-3">Conferma di scambiare la tua competenza {{proposta.userSenderCompetenzaRel}}</button>
                              </form>
                              {% elseif proposta.statusString == 'Confermato'  %}
                                  {% if proposta.confermaSender is not null  %}
                                  <i>Scambio confermato!</i>
                                  <p>Grazie, attendiamo la conferma dell'altro utente</p>
                                  {% elseif proposta.confermaSender is null %}
                                    <form method="get" action="{{ path('app_scambi_confirm_sender', {'id': proposta.id}) }}" id="concludi-{{proposta.id}}">
                                        <button type="submit" class="btn btn-primary btn-xs mt-3">Dichiara concluso lo scambio</button>
                                    </form>
                                  {% endif %}
                            {% elseif proposta.statusString == 'Concluso' %}
                            <i>Scambio concluso, bene!</i>
                            {% elseif proposta.statusString == 'Rifiutato' %}
                            <i>L'utente ha rifiutato lo scambio</i>
                            {% endif %}



                              </div>

                            </div>

                          </div>

                        </div>





                {% endfor %}



        </article>


        {% endif %}
      {% endif %}













        {# Mostra le proposte di scambio ricevute solo all'utente autenticato #}
        {% if app.user and app.user.id == user.id %}

        {% if proposteRicevute is defined %}
        <article class="it-page-section mb-5" id="proposte-ricevute">

        <h2>Proposte Ricevute</h2>

                {% for proposta in proposteRicevute|reverse %}


                        <div class="mb-4">

                          <div class="card card-teaser shadow rounded">

                            <div class="card-body">
                              <h3 class="card-title h5">Proposta di scambio dall'utente

                               <a class="text-decoration-none" href="{{ path('app_user_profile', {'id': proposta.userSender.id}) }}">
                                 {{ proposta.userSender.nickname }}</a> per la tua conoscenza:
                                 {% if proposta.userTargetCompetenzaRel is not null %}
                                    {{ proposta.userTargetCompetenzaRel.Titolo }}
                                {% endif %}
                              </h3>
                              {{ proposta.createdAt ? proposta.createdAt|date('d/m/Y H:i') }} | Id proposta: {{ proposta.id }}

                              {% if proposta.userSenderCompetenzaRel %}
                               <p>Hai chiesto in scambio: {{ proposta.userSenderCompetenzaRel.Titolo }}</p>
                               {% endif %}


                              <div class="card-text" >
                                <p>Status scambio:   {{ proposta.statusString }} </p>

                                {% if proposta.statusString == 'Iniziato' and proposta.userTargetCompetenzaRel %}
                                <button type="button" class="btn btn-success btn-xs mt-3" data-bs-toggle="modal" data-bs-target="#acceptModal-{{proposta.id}}">
                                    Accetta Scambio
                                </button>
                                <form id="reject-form-{{proposta.id}}" method="post" action="{{ path('app_scambi_confirm', {'id': proposta.id}) }}">
                                    <button type="submit" class="btn btn-danger btn-xs mt-3" name="confirm" value="reject">Rifiuta scambio</button>
                                </form>
                                {% elseif proposta.statusString == 'In attesa' %}
                                <p>In attesa che l'altro utente confermi lo scambio.</p>
                                {% elseif proposta.statusString == 'Confermato' %}
                                    {% if proposta.confermaTarget is not null  %}
                                    <i>Scambio confermato!</i>
                                    <p>Grazie, attendiamo la conferma dell'altro utente</p>
                                    {% elseif proposta.confermaTarget is null  %}
                                      <form method="get" action="{{ path('app_scambi_confirm_target', {'id': proposta.id}) }}" id="concludi-{{proposta.id}}">
                                          <button type="submit" class="btn btn-primary btn-xs mt-3">Dichiara concluso lo scambio</button>
                                      </form>
                                    {% endif %}
                                {% elseif proposta.statusString == 'Concluso' %}
                                <i>Scambio concluso, bene!</i>
                                {% elseif proposta.statusString == 'Rifiutato' %}
                                <i>Hai rifiutato questo scambio</i>
                                {% endif %}





                             {# Per il flash message relativo alla proposta avviata
                             {% for flashMessage in app.flashes('proposta_success') %}
                                 <div class="alert alert-success">
                                     {{ flashMessage }}
                                 </div>
                             {% endfor %}#}









     {# Modal Test#}
     <div class="modal fade" id="acceptModal-{{proposta.id}}" tabindex="-1" aria-labelledby="acceptModalLabel-{{proposta.id}}" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="acceptModalLabel-{{proposta.id}}">Seleziona competenza da scambiare</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                     <p>Seleziona la competenza che desideri scambiare:</p>
                     <form id="acceptForm-{{proposta.id}}" method="post" action="{{ path('app_scambi_save_competenza', {'id': proposta.id}) }}">
                         {{ csrf_token('save_competenza') }}

                         <select id="competenzaSelect-{{proposta.id}}" name="competenza" class="form-select">
                          {% for competenza in proposta.userSender.CompetenzeBisRel %}
                              <option value="{{ competenza.id }}">{{ competenza.Titolo }}</option>
                          {% endfor %}
                      </select>

                         <button type="submit" class="btn btn-primary">Salva</button>
                        </form>
                  </div>
              </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
               </div>
             </div>
         </div>




                              </div>

                            </div>

                          </div>

                        </div>





                {% endfor %}



        </article>
          {% endif %}
        {% endif %}











      <article id="ultimo-aggiornamento" class="it-page-section mt-5">
        <h4 class="h6">Nella Baco Community dal: <span class="h6 fw-normal">{{ user.CreateAt ? user.CreateAt|date('d/m/Y H:i') : '' }}</span></h4>
      </article>
    </section>
  </div>
</div>


<div class="bg-primary">
  <div class="container">
    <div class="row d-flex justify-content-center p-contacts">
      <div class="col-12 col-lg-6">
        <div class="cmp-contacts">
          <div class="card w-100">
            <div class="card-body">
              <h2 class="title-medium-2-semi-bold">Qualche dubbio?</h2>
              <ul class="contact-list p-0">
                <li><a class="list-item" href="#">
                    <svg class="icon icon-primary icon-sm" aria-hidden="true">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-help-circle"></use>
                    </svg><span>Leggi le domande frequenti</span></a></li>

                <li><a class="list-item" href="#" data-element="contacts">
                    <svg class="icon icon-primary icon-sm" aria-hidden="true">
                      <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-mail"></use>
                    </svg><span>Richiedi assistenza</span></a></li>


              </ul>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>















<div class="d-none" hidden>










    <h1>Profilo di {{ user.nickname }}</h1>

    <p>Email: {{ user.email }}</p>

    {% if user.description is defined %}
      <h3>Descrizione</h3>
      <p> {{ user.description }}</p>
  {% endif %}

  {% if user.getAvatarUrl() %}
      <img src="{{ asset('uploads/avatar/' ~ user.avatar) }}" class="avatar" alt="Avatar">
  {% else %}
      <p>No avatar</p>
  {% endif %}


  <div>
      Numero di Scambi Conclusi: {{ user.scambiConclusi }}
  </div>

  {% if user.CompetenzeBisRel is defined and user.CompetenzeBisRel|length > 0  %}

    <h2>Competenze</h2>
        <ul>
            {% for competenza in user.CompetenzeBisRel %}
                <li>{{ competenza }}</li>
            {% endfor %}
        </ul>
  {% endif %}


        {# Mostra le proposte di scambio inviate solo all'utente autenticato #}
        {% if app.user and app.user.id == user.id %}

        {% if proposteInviate is defined %}

        <h2>Proposte di scambio inviate:</h2>

            <ul>
                {% for proposta in proposteInviate %}


                    <li>Proposta {{ proposta.id }} per gli utenti:
                    <ul>
                        {% for user in proposta.userTarget %}
                            <li><a href="{{ path('app_user_profile', {'id': user.id}) }}">{{ user.nickname }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                {% endfor %}
            </ul>


            {% endif %}


          <h2>Proposte di scambio ricevute:</h2>
                <ul>

                    {% for proposta in proposteRicevute %}
                        <li>Il giorno {{ proposta.id }} dall'utente <a href="{{ path('app_user_profile', {'id': proposta.userSender.id}) }}">{{ proposta.userSender.nickname }}</a> | Stato della proposta:{{ proposta.statusString }} </li>
                    {% endfor %}

                </ul>

                {% endif %}

</div>


{% endblock %}
